
 {% extends 'base.html' %}
{% load static %}


{% block content %}
<section id="about" class="about mt-5">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="{% static 'assets/Top PC Gaming Accessories on GearBest Flash Sale At Very Low Prices.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
        <h3>We are a group that help you to know about your PC you want to collect its parts.</h3>
        <p class="font-italic">
          we will help you to collect every part of the computer such as (RAM,GPU,MOTHERBOARD,POWER
SUPPLY , COOLERS).

        </p>
        <ul>
          <li><i class="ri-check-double-line"></i>Gaming computers are specialized personal computers designed for playing video games. .</li>
          <li><i class="ri-check-double-line"></i> engineering Computer are also suited for robotics research, which relies heavily on using digital systems to control and monitor electrical systems like motors, communications, and sensors..</li>
          <li><i class="ri-check-double-line"></i> graphic design Computer  This activity helps in the optimization of graphic communications (see also communication design). It is also known as visual communication design, visual design or editorial design. .</li>
          <li><i class="ri-check-double-line"></i>programming computer 
            Tasks accompanying and related to programming include: testing, debugging, source code maintenance, implementation of build systems .</li>

        </ul>
       
      </div>
    </div>

  </div>
</section>

<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Team</h2>
      <p>Check our Team</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="{% static 'assets/team/seif.jpeg' %}" style="width: 400px; height: 300px;" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>seif-alden ahmed</h4>
          
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/team/mayar.jpg' %}"  style="width: 400px; height: 300px;" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>mayar mahmouad</h4>
          
            </div>
          </div>
        </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="{% static 'assets/team/abaza.jpg' %}"  style="width: 400px; height: 300px;" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>abd-elrahman abaza</h4>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="{% static 'assets/team/hossam.jpeg' %}"  style="width: 400px; height: 300px;" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>hossam hassen</h4>
   
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="left: 118px;">
        <div class="member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src="{% static '' %}assets/team/ahmed.jpeg"  style="width: 400px; height: 300px;" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Ahmed Amr Ali Hegazy</h4>
     
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="left: 345px;">
        <div class="member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src="{% static 'assets/team/abdo.jpeg' %}"  style="width: 400px; height: 300px;" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Abdelrahman Khaled negm </h4>
     
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Team Section -->

       
          <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

{% endblock %}